


<div class="news-section">
<div class="container">
    <h1>company list</h1>
      <div class="col-md-3 news-column">
      <ul>
        <% job.forEach((oneJob)=> { %>
      <li>
        <h3>company : </h3>
        <h3><%= oneJob.company %></h3>
          <p> <%= oneJob.url %></p>
          <a href="/jobs/<%= oneJob._id %>"><h5>view details</h5></a>
        </li>
        <% }) %>
      </ul>
    </div>
</div>
</div>

<a href="/jobs/new">
 Add a company
</a>
