<form action="/jobs/new" method="post">

  <label for="company">name of the company</label>
  <input type="text" name="jobCompany" id="company">
  <br>

  <label for="url">url to the company that you apply</label>
  <input type="text" name="jobUrl" id="url">
  <br>

  <label for="location">address</label>
  <input type="text" name="joLocation" id="location">
  <br>

  <label for="personOfContact">person of contact</label>
  <input type="text" name="jobPersonOfContact" id="personOfContact">
  <br>

  <label for="personOfContact2">person of contact #2</label>
  <input type="text" name="jobPersonOfContact2" id="personOfContact2">
  <br>

  <label for="email">email</label>
  <input type="text" name="jobEmail" id="email">
  <br>

  <label for="notes">notes</label>
  <input type="text" name="jobNotes" id="notes">
  <br>

  <label for="phone">phone #</label>
  <input type="number" name="jobPhone" id="phone">
  <br>

 <button type="submit">add new company</button>

</form>
<% if (typeof(errors) !== "undefined"){ %>
   <% for (let error in errors){ %>
     <li><%= errors[error].message %></li>
   <% } %>
 <% } %>
